.liter{
  
  &__title{
    text-align: center;  
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
  }

  &__value{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  &__slider{
    margin-bottom: 5rem;
  }

  &__finish{
    border: 1px solid #000;
    border-radius: 10px;
    background-image: linear-gradient(green, darkgreen);

    height: 3rem;
    
    align-items: center;
    justify-content: center;

    align-self: center;
    width: 70%;
    
    &__text{

    }
  }
}